* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d1d8e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-areas:
        "nav header header"
        "nav main aside"
        "nav section aside"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    width: 60%;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

section {
    grid-area: section;
}

footer {
    grid-area: footer;
}

.container > * {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}